<!--

This file can be used to add custom HTML
to your cState powered status page.

https://github.com/cstate/cstate/wiki/Customization

-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
</style>
<div class="header header--large">
    <div class="contain contain--more center">
      <a href="{{ .Site.BaseURL }}" class="header__logo">
        {{ if .Site.Params.useLogo }}
          <img src="{{ relURL .Site.Params.logo }}" alt="{{ .Site.Title }}">
            {{ else }}
          <h1 style="font-family: 'Inter'; font-weight: 800;">{{ .Site.Title }}</h1>
        {{ end }}
      </a>
    </div>
  </div>